.navContainer {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 2px solid silver;
  .box1 {
    display: flex;
    flex-direction: row;
    width: 430px;
    align-items: center;
    .d {
      height: 30px;
      width: 30px;
      border-radius: 6px;
      font-style: italic;
      padding-top: 2px;

      font-weight: 900;
      color: rgb(13, 91, 207);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(105, 160, 243, 0.685);

      text-align: center;
    }
    .dltr {
      font-weight: 900;
      font-style: italic;
      opacity: 0.7;
      margin-left: 10px;
    }
  }
  .box2 {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h4 {
      font-weight: bolder;
    }
    .tgl {
      height: 35px;
      width: 35px;
      display: inline-block;
      background-color: black;
      border-radius: 50%;
      color: white;
      text-align: center;
      padding-top: 4px;
    }
  }
}
