.sideContainer {
  width: 300px;
  height: calc(100vh - 60px);
  border-right: 1px solid silver;
  text-align: center;
  padding-top: 20px;
  .orderButton {
    height: 45px;
    min-width: 170px;
    padding: 11px 20px;
    display: inline-block;
    border-radius: 30px;
    color: rgb(13, 91, 207);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(105, 160, 243, 0.685);
    .fa-plus-circle {
      padding-right: 1px;
      color: rgb(13, 91, 207);
    }
  }
}
